config/BOK_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="node">
  <xsd:complexType>
    <xsd:all>
      <xsd:element name="name">
      </xsd:element>
      <xsd:element name="nodes" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:element>
</xsd:schema>
